<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="フォトスタジオのインスタ画像をAIが学習、貴方の写真をアップすると同じ雰囲気の写真が撮影できるスタジオをチョイスします。" />
  <title>AIスタジオアナライザー　あなたにピッタリのお子様向けフォトスタジオをAIが選択</title>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-553874Q');</script>
<!-- End Google Tag Manager -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-553874Q"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <h1>（お試し）AIスタジオアナライザー</h1>

  東京近郊のお子様向けフォトスタジオのインスタグラムの画像を解析しています。<br />
  写真を選択して「解析開始」ボタンを押すと、似たような雰囲気を撮影するスタジオをAIが紹介します。<br />
  ご自分の写真を利用できます、ここに画像ファイルをドラッグ＆ドロップしてください<br />
  写真はサーバ上には残らないので、ご心配なくご利用ください。<br />
  精度が不安定なのでお試しで運用中です。<br />
    <div id="drop-zone" style="border: 1px solid; padding: 10px;">
      <button id="button" onclick="moveSample(-1)">≪</button>
      <img id="sample1" width="130" height="90" onclick="selectSample(0)"></img>
      <img id="sample2" width="130" height="90" onclick="selectSample(1)"></img>
      <button id="button" onclick="moveSample(1)">≫</button>
      <p>画像を選択、または、画像ファイルをドラッグ＆ドロップもしくは</p>
      <input type="file" name="file" id="file-input"><br />
      <div id="in-process" style="display:none;">
        <center style="color:white">
          <h3>解析中...しばらくお待ちください</h3>
          <p>最大３分程度かかります<p>
        </center>
      </div>
      <canvas id="preview"></canvas>
      <p>
      <input type="range" id="red" min="-55" max="55" step="5" onchange="color()">
      <input type="range" id="green" min="-55" max="55" step="5" onchange="color()">
      <input type="range" id="blue" min="-55" max="55" step="5" onchange="color()">
      </p>
      <button id="button" onclick="api()">解析開始</button>
      <p />
      <div id="retult-msg"></div>
    </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
  <script type="text/javascript">
    const SERVER = '';
    const SAMPLE_PATH = '/static/sample/'
    //const SERVER = 'https://photoai.azurewebsites.net';
    //const SAMPLE_PATH = './static/sample/'
    const STABLE = {
      'mitulle_studio'         : ['PhotoStudioミチュール 月島店', 'https://ptcrsv.canon.jp/str/reserve/infoTarget/TFz2yEj8SMaveK6WlNsd', 'PhotoStudioミチュール 有明ガーデン店', 'https://ptcrsv.canon.jp/str/reserve/infoTarget/eUE0rDl8FvbmBMLciIJq'],
      'mitullephoto'           : ['PhotoStudioミチュール 月島ウォーターフロント店', 'https://ptcrsv.canon.jp/str/reserve/infoTarget/w94Ej1I6neuQplSRtGTD'],
      'holidaysphotoservice'   : ['Holidays PhotoService', 'https://ptcrsv.canon.jp/str/reserve/infoTarget/IQshrHKab7uPNtZqO1xY'],
      'studiococoahitachi'     : ['スタジオCocoa 日立店', 'https://ptcrsv.canon.jp/str/reserve/infoTarget/yDnS0v6kYrlZTJKaIzum'],
      'studiococoamito'        : ['スタジオCocoa 水戸店', 'https://ptcrsv.canon.jp/str/reserve/infoTarget/KjOT6loq1HJh52NeAwg3'],
      'studiococoatsukuba'     : ['スタジオCocoa つくば店', 'https://ptcrsv.canon.jp/str/reserve/infoTarget/4yu9DjlYarJCgw6ESLo5'],
      'studiococoakashiwa'     : ['スタジオCocoa 柏マルイ店', 'https://ptcrsv.canon.jp/str/reserve/infoTarget/proF2gKqWERa98OI47nY'],
      'cocoainzai'             : ['スタジオCocoa 印西店', 'https://ptcrsv.canon.jp/str/reserve/infoTarget/VQup73vkfyHGsrODPKTX'],
      'cocoatokyofutakotamagawa'   : ['スタジオCocoa 東京二子玉川店', 'https://ptcrsv.canon.jp/str/reserve/infoTarget/OMQBI2h9uWzxZjJykSCX'],
      'cocoanoborito'          : ['スタジオCocoa 川崎登戸店', 'https://ptcrsv.canon.jp/str/reserve/infoTarget/hZDqtj8cVeN17TvxpHJf'],
      'cocoashinkawasaki'      : ['スタジオCocoa 新川崎店', 'https://ptcrsv.canon.jp/str/reserve/infoTarget/wnmIkQa1vGq3chTp4t0j'],
      'studiococoakohoku'      : ['スタジオCocoa 横浜港北店', 'https://ptcrsv.canon.jp/str/reserve/infoTarget/jvW2YkXuL0n614NSczIM'],
      'cocoashinyokohama'      : ['スタジオCocoa 新横浜店', 'https://ptcrsv.canon.jp/str/reserve/infoTarget/1pTycokFS7LiPwl4EIJV'],
      'cocoayokohamakonan'     : ['スタジオCocoa 横浜港南店', 'https://ptcrsv.canon.jp/str/reserve/infoTarget/l7EI61v9qJS3VKFPfdzx'],
      'cocoayokohamatotsuka'   : ['スタジオCocoa 横浜戸塚店', 'https://ptcrsv.canon.jp/str/reserve/infoTarget/vpx8Pg0iorFGKqYjX9JC'],
      'studiococoayamate'      : ['スタジオCocoa 横浜山手店', 'https://ptcrsv.canon.jp/str/reserve/infoTarget/H5a6ly4nKU8XTA3c9Cos'],
      'adamasnewbornphoto'     : ['AdAmAs newborn photo', 'https://ptcrsv.canon.jp/str/reserve/infoTarget/VYsNBtHZTIWJLQXh1mxR'],
      'photostudiochelsea2524' : ['フォトスタジオチェルシー', 'https://ptcrsv.canon.jp/str/reserve/infoTarget/15cDE0peYIGwPhFMg8Xt'],
      'cafune_photostudio'     : ['Photo studio CAFUNÉ　カフネ ', 'https://ptcrsv.canon.jp/str/reserve/infoTarget/WDc789dJ3BGQMsZFrtAx'],
    }
    const SAMPLE = [
      '92698_s.jpg',
      '92798_s.jpg',
      '1175652_s.jpg',
      '1381834_s.jpg',
      '22615772_s.jpg',
      '23614597_s.jpg',
      '4864254_s.jpg',
      '4864415_s.jpg',
      '4864470_s.jpg'
    ]
    const sample1 = document.getElementById('sample1');
    const sample2 = document.getElementById('sample2');
    const dropZone = document.getElementById('drop-zone');
    const preview = document.getElementById('preview');
    const fileInput = document.getElementById('file-input');
    const button = document.getElementById('button');
    const inProcess = document.getElementById('in-process');
    const retultMsg = document.getElementById('retult-msg');
    const red = document.getElementById('red');
    const green = document.getElementById('green');
    const blue = document.getElementById('blue');
    const ctx = preview.getContext('2d');
    var imageData = null;
    var saveImageData = [];
    var sampleIdx = 0;

    // ドラッグ領域に入ったら、背景に色をを付ける
    dropZone.addEventListener('dragover', function(e) {
      if (!fileInput.disabled) {
        e.stopPropagation();
        e.preventDefault();
        this.style.background = '#e1e7f0';
      }
    }, false);
    // ドラッグ領域を離れたら、背景は白にする
    dropZone.addEventListener('dragleave', function(e) {
      if (!fileInput.disabled) {
        e.stopPropagation();
        e.preventDefault();
        this.style.background = '#ffffff';
      }
    }, false);
    // ファイル選択したら
    fileInput.addEventListener('change', function () {
      if (!fileInput.disabled) {
        previewFile(this.files[0]);
      }
    });
    // ドロップしたら
    dropZone.addEventListener('drop', function(e) {
      if (!fileInput.disabled) {
        e.stopPropagation();
        e.preventDefault();
        this.style.background = '#ffffff'; // 背景色を白に戻す
        var files = e.dataTransfer.files;  // ドロップしたファイルを取得
        if (files.length > 1) return alert('アップロードできるファイルは1つだけです。');
        fileInput.files = files;           // inputのvalueをドラッグしたファイルに置き換える。
        previewFile(files[0]);
      }
    }, false);

    // サンプル画面表示
    function showSample() {
      var i = sampleIdx + 1;
      if (i >= SAMPLE.length) {
        i = 0;
      }
      sample1.setAttribute('src', SAMPLE_PATH + SAMPLE[sampleIdx]);
      sample2.setAttribute('src', SAMPLE_PATH + SAMPLE[i]);
    }
    // サンプル画面移動
    function moveSample(n) {
      sampleIdx += n;
      if (sampleIdx < 0) {
        sampleIdx = SAMPLE.length -1;
      }
      if (sampleIdx >= SAMPLE.length) {
        sampleIdx = 0;
      }
      showSample();
    }
    // プレビュー画像表示
    function showImage(img) {
      preview.width = 360;
      preview.height = Math.floor(img.height * 360 / img.width);
      ctx.drawImage(img, 0, 0, preview.width, preview.height);
      imageData = ctx.getImageData(0, 0, preview.width, preview.height);
      for (var i = 0; i <= preview.width * preview.height * 4; i++) {
        saveImageData[i] = imageData.data[i];
      }
      color();               // 色味変更
    }
    // サンプル画面選択
    function selectSample(n) {
      var img = n == 0 ? sample1 : sample2;
      showImage(img);
    }
    // 実行中画面
    function processing(f) {
      if (f) {
        document.body.style.background = '#616770';
        dropZone.style.background = '#616770';
        inProcess.style.display = "block";
        fileInput.disabled = true;
        button.disabled = true;
      } else {
        document.body.style.background = '#ffffff';
        dropZone.style.background = '#ffffff';
        inProcess.style.display = "none";
        fileInput.disabled = false;
        button.disabled = false;
      }
    }
    // 色味変更
    function color() {
      for (var i = 0; i <= preview.width * preview.height * 4; i += 4) {
        imageData.data[i] = saveImageData[i] + Number(red.value);
        imageData.data[i+1] = saveImageData[i+1] + Number(green.value);
        imageData.data[i+2] = saveImageData[i+2] + Number(blue.value);
      }
      ctx.putImageData(imageData, 0, 0);
    }
    // 画像表示
    function previewFile(file) {
      var fr = new FileReader();
      fr.readAsDataURL(file);
      fr.onload = function() {
        var img = document.createElement('img');
        img.setAttribute('src', fr.result);
        img.onload = function() {
          showImage(img);
        };
      };
    }
    // 解析API
    function api() {
      if (saveImageData.length == 0) {
        return;
      }
      processing(true);
      var params = new FormData();
      var base64_png = preview.toDataURL("image/png");
      params.append('image', base64_png);
      // API呼び出し
      axios.post(SERVER + '/api/similar', params).then(function(response) {
        dt = response.data;
        var i = 0;
        if (dt.length) {
          sum = {};
          for (var i = 0; i < dt.length; i++) {
            console.log(dt[i][0], dt[i][1]);
            studio = dt[i][0];
            if (studio in sum) {
              sum[studio] += 10 - i
            } else {
              sum[studio] = 10 - i
            }
            if (dt[i][1] < 200) {
              sum[studio] += 100;
            }
          }
          // キーを含んだ配列に変換 オブジェクト⇒配列
          var arr = Object.keys(sum).map((k)=>({ key: k, value: sum[k] }));
          // スコア順
          arr.sort((a, b) => b.value - a.value);
          var retultmsg = "<h3>調査結果</h3>";
          var i = 0;
          for (var item of arr) {
            ++i;
            //console.log(item.key, item.value);
            if (item.value < 9) {
              break;
            }
            if (STABLE[item.key].length == 2) {
              retultmsg += '<a href="' + STABLE[item.key][1] + '">' + i + ' ' + STABLE[item.key][0] + '</a><br />';
            } else {
              retultmsg += '<a href="' + STABLE[item.key][1] + '">' + i + ' ' + STABLE[item.key][0] + '</a><br />';
              retultmsg += '<a href="' + STABLE[item.key][3] + '">' + STABLE[item.key][2] + '</a><br />';
            }
          }

          retultMsg.innerHTML = retultmsg;
          processing(false);
        } else {
          alert("データ取得できません");
          processing(false);
        }
      }).catch(function(error) {
        alert("エラー:" + error);
        processing(false);
      });
    }

    // DUMMY API
    function dummy() {
      axios.get(SERVER + '/robots.txt').then(function(response) {
        ;
      }).catch(function(error) {
        console.log("dummy エラー:", error);
        alert("解析に時間がかかる場合があります");
      });
    }
    dummy();       // サーバを起動
    showSample();
  </script>

</body>
</html>

